body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.button {
    margin: 10px;
    background: aliceblue
}

.button-delete {
    background: #ff8686;
}

.text-danger {
    display: none;
    padding: 10px;
    background: #ff2d2d;
    color: white;
    margin: 35px;
    width: 75%;
}

.error-msg {
    color: white;
    width: 90%;
    float: left;
}

.close-error-block {
    color: white;
    cursor: pointer;
}

.required {
    color: red;
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
    margin: 25px;
}

.contact-list-table {
    width: 750px;
}

.contact-list #add-new-contact {
    margin-left: 680px;
}

.contact-list-table th:first-child, .contact-list-table td:first-child {
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}


input[type="text"]{
    float : left;
}